*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    position: relative;
    /* width: 100vw;
    height: 100vh; */
    background-color: #1a1a1a;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    position: relative;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* ----------- loading -------------- */
#loading{
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    transition: 3s;
    position: fixed;
    z-index: 999;
}
.gao img{
    height: 100vh;
    width: auto;
    overflow: hidden;
}
.loaded{
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}


/* --------- ham icon ---------- */
.menu-smafo{
    visibility: visible;
}
#input{
    opacity: 0;
    position: fixed;
}
label .line{
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 3;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
label .line::before,
label .line::after,
label .line .mid-line{
    position: absolute;
    content: '';
    right: 0%;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: all .5s;
}
label .line::before{
    top: 0%;
    transform-origin: top right;
}
label .line .mid-line{
    top: 45%;
}
label .line::after{
    bottom: 0;
    transform-origin: bottom right;
}
#input:checked + label .line::before,
#input:checked + label .line::after{
    width: 140%;
}
#input:checked + label .line::before{
    transform: rotate(-45deg);
}
#input:checked + label .line::after{
    transform: rotate(45deg);
}
#input:checked + label .line .mid-line{
    transform: scale(0);
}

#input:checked ~ #menu::before{
    transform: skew(-15deg) translateX(0);
}
#input:checked ~ #menu a{
    transform: translateX(0%);
}
#input:checked ~ label .back{
    background-color: #fff;
    opacity: .3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}


/* .hamicon{
    position: absolute;
    top: 7%;
    right: 7%;
    visibility: visible;
    cursor: pointer;
}
.icon-item{
    width: 30px;
    height: 1px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 9px;
    transition: all 0.5s ease;
}
.line1:{
    transform: translateY(20px) rotate(-45deg);
}
.show .line2{
    opacity: 0;
    transform: translateX(50%);
}
.show .line3{
    transform: translateY(-20px) rotate(45deg);
} */



/* --------- menu bar ---------- */
#menu{
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 2;
}
#menu::before{
    position: fixed;
    content: '';
    top: 0%;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    width: 90vw;
    background: rgb(1, 41, 1);
    transform: skewX(-15deg) translateX(100%);
    transform-origin: bottom right;
    transition: transform 0.5s;
}
#menu a{
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    margin-bottom: 30%;
    padding-right: 3rem;
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 2;
}



main{
    position: fixed;
}
/* --------- background ---------- */
.bg img{
    width: 100vw;
    height: auto;
    display: block;
    opacity: .1;
}
.bg{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.bg2, .bg3{
    visibility: hidden;
}
.bg ul{
    width: 100%;
    height: auto;
}
.bg1 ul:first-child, .bg3 ul:first-child{
    animation: slide1 160s -80s linear infinite;
}
.bg1 ul:last-child, .bg3 ul:last-child{
    animation: slide2 160s linear infinite;
}
.bg li{
    width: 100%;
    height: auto;
}
@keyframes slide1 {
    0%{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-100%);
    }
}
@keyframes slide2{
    0%{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-200%);
    }
}

.bg2 ul:first-child{
    animation: slide3 160s -80s linear reverse infinite;
}
.bg2 ul:last-child{
    animation: slide4 160s linear reverse infinite;
}
@keyframes slide3 {
    0%{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-100%);
    }
}
@keyframes slide4{
    0%{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-200%);
    }
}


/* -------- foot print -------- */
.foot1{
    position: absolute;
    top: 85%;
    left: -2%;
    animation: stamp 5s infinite;
    opacity: 0;
}
.foot1 img{
    width: 40%;
    height: auto;
}
.foot2{
    position: absolute;
    top: 83%;
    left: 30%;
    animation: stamp 5s infinite;
    animation-delay: 1s;
    opacity: 0;
}
.foot2 img{
    width: 40%;
    height: auto;
}
.foot3{
    position: absolute;
    top: 53%;
    left: 53%;
    width: auto;
    animation: stamp 5s infinite;
    animation-delay: 2s;
    opacity: 0;
}
.foot3 img{
    width: 30%;
    height: auto;
}
.foot4{
    position: absolute;
    top: 45%;
    left: 85%;
    animation: stamp 5s infinite;
    animation-delay: 3s;
    opacity: 0;
}
.foot4 img{
    width: 30%;
    height: auto;
}
.foot5{
    position: absolute;
    top: 15%;
    left: 93%;
    animation: stamp 5s infinite;
    animation-delay: 4s;
    opacity: 0;
}
.foot5 img{
    width: 40%;
    height: auto;
}
@keyframes stamp{
    0%{
        opacity: 0;
    }
    3%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
}

/* --------------------------------------------- */

.emp{
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
}
.dino{
    top: 0;
    height: 100vh;
    z-index: 9;
}
.dino img{
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    width: 80%;
    visibility: hidden;
}
.moji{
    position: absolute;
    top: 5%;
    right: 3%;
    position: relative;
    color: #fff;
    opacity: .5;
    text-align: right;
    letter-spacing: 0.3rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
    position: sticky;
    top: 30%;
}
.p1{
    font-size: 80px;
    line-height: 60px;
}
.p2{
    font-size: 50px;
    line-height: 40px;
}
.p3{
    font-size: 30px;
    line-height: 25px;
}


/* ---------- contents ----------- */
.main2nd{
    /* position: sticky; */
    top: 0;
}
.contents1{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
}
#con1{
    width: 7rem;
    height: 3rem;
    border-top: 3rem solid #fff;
    border-right: 2rem solid transparent;
    opacity: .3;
}
#con2{
    width: 5rem;
    height: 3rem;
    border-top: 3rem solid #fff;
    border-right: 2rem solid transparent;
    opacity: .3;
}
#con3{
    width: 3rem;
    height: 3rem;
    border-top: 3rem solid #fff;
    border-right: 2rem solid transparent;
    opacity: .3;
}
#con1, #con2, #con3{
    margin-bottom: 1%;
}
.contents2{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 50;
}
#con4{
    width: 3rem;
    height: 3rem;
    border-bottom: 3rem solid #fff;
    border-left: 2rem solid transparent;
    opacity: .3;
}
#con5{
    width: 5rem;
    height: 3rem;
    border-bottom: 3rem solid #fff;
    border-left: 2rem solid transparent;
    opacity: .3;
}
#con6{
    width: 7rem;
    height: 3rem;
    border-bottom: 3rem solid #fff;
    border-left: 2rem solid transparent;
    opacity: .3;
}
#con4, #con5, #con6{
    margin-top: 1%;
}

#con1:hover{
    width: 10rem;
    transition: .5s;
}
#con2:hover{
    width: 8rem;
    transition: .5s;
}
#con3:hover{
    width: 6rem;
    transition: .5s;
}
#con6:hover{
    width: 10rem;
    transition: .5s;
}
#con5:hover{
    width: 8rem;
    transition: .5s;
}
#con4:hover{
    width: 6rem;
    transition: .5s;
}

.logo{
    position: sticky;
}


.main3rd{
    position: sticky;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.imgsmafo{
    position: sticky;
    position: relative;
    top: 5%;
    right: 0;
    z-index: 1;
}
.imgsmafo img{
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.imgpc{
    display: none;
}

.bun{
    position: sticky;
    position: absolute;
    top: 5%;
    right: 0%;
    width: 100%;
    color: #1a1a1a;
    background-color: rgba(255, 255, 255, 0.226);
    padding: 5% 5%;
    font-size: 20px;
    z-index: 1;
}
.bun p{
    text-align: center;
    align-items: flex-end;
}




/* --------- media ---------- */
@media (min-width: 800px) {
    main{
        z-index: 0;
    }
    .bg2, .bg3{
        visibility: visible;
    }
    .bg img{
        width: 34vw;
        height: auto;
    }
    .menu-smafo{
        visibility: hidden;
    }
    .emp{
        display: none;
    }
    #dino img{
        visibility: visible;
    }
    .slideimg{
        position: absolute;
        top: 20%;
        opacity: 0;
        transform: translateX(-300%);
        transition: 2s;
    }
    .moji{
        position: absolute;
        top: 10%;
        right: 3%;
        transform: translateY(-150%);
        transition: 2s;
    }
    .slideDino{
        opacity: 1;
        transform: translate(0);
    }
    .slideMoji{
        opacity: .5;
        transform: translate(0);
    }


    .main3rd{
        position: absolute;
        top: 0%;
        z-index: 0;
    }
    .imgpc{
        /* position: sticky; */
        position: absolute;
        top: 2%;
        left: 0;
        height: auto;
        display: block;
        transform: translateX(-100%);
        transition: 2s;
    }
    .imgsmafo{
        display: none;
    }
    .bun{
        position: absolute;
        width: 80vw;
        height: 50vh;
        /* position: sticky; */
        top: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: translateX(100%);
        transition: 2s;
    }
    .bun p{
        text-align: right;
    }
    .slideImgpc{
        opacity: 1;
        transform: translate(0);
    }
    .slideBun{
        opacity: 1;
        transform: translate(0);
    }

}

