:root {
  --grid-columns: 12;
  --header-height: 100px;
  --hero-infobox-height: 80px;
}

.hero__wrap {
  padding-top: var(--header-height);
}

.grid {
  display: grid;
  column-gap: 0;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  max-width: 100%;
}

.hero__content {
  align-content: space-between;
  min-height: 350px;
  grid-template-rows: 1fr minmax(var(--hero-infobox-height),
    var(--hero-infobox-height));
}

.hero__headline {
  grid-column: 3 / span 9;
  align-self: center;
  margin: 5vw 0 10vw;
}

.ts-h1 {
  font-family: "Gotham",sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.hero__infobox {
  background: #919191;
  grid-column: 3 / -1;
  display: flex;
  position: relative;
}

.hero__infobox__effect {
  background: #dab0b0;
  transform: translate(0%, 120%);
}

.hero__infobox__effect {
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  /* background: #fbf9f7; */
  height: 100%;
  left: calc(100% / -3);
  width: calc(100% + (100% * 1/3));
}

/* responsive */
@media(max-width: 800px) {
  html {
    font-size: 0.8em;
  }
}


/* <main class="site-main">
<div class="wrapper">
  <div class="content-wrapper">
    <div class="hero__wrap">
      <div class="hero__content grid"> */