/*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
} */
/*
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.langchange p{
  position: relative;
  margin: 0;
  position: relative;
  
}

.container {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background: #6bb6ff;
}

header > .container {
  display: flex;
  align-items: center;
  height: 80px;
}

header .header_left h1 {
  color: rgb(0, 0, 0);
  position:relative;
  left: 80%;
}


header .header_right {
  margin-left: 8em;
}

header .header_right .menu_list {
  display: flex;
  justify-content: space-around;
}

header .header_right .menu_list .nav_item {
  position: relative;
  left: 50%;

}

header .header_right .menu_list .nav_item .panel {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  background: #6bb6fe;
  width: 100%;
  display: none;
}

header .header_right .menu_list .nav_item .panel .panel_item {
  display: inline-block;
  margin: 20px 0;
}

header .header_right .menu_list .nav_item .panel .panel_item a {
  color: #fff;
  ;
}

header .header_right .menu_list .nav_item {
  display: block;
  width: 150px;
  text-align: center;
}

header .header_right .menu_list .nav_item a {
  color: #fff;
} */

@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

html {
  height: 100%;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Economica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

#circle {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 2px solid white;
  position: absolute;
  left: -250px;
}

.js-target-div {
  height: 100%;
  width: 100%;
}
